//font family
$popins: 'Poppins', sans-serif;

//font weight
$regular: 400;
$bold: 600;

//font size
$xx-large: 40px;
$x-large: 30px;
$large: 25px;
$medium: 16px;
$small: 14px;

//colors
$black: #000000;
$white: #FFFFFF;
$otro: #4A4A4A;
$green: #92DCE5;
$coral: #EF6461;
