h1 {
  font-size: $xx-large;
  font-family: $popins;
  color: $black;
}

h2 {
  font-size: $x-large;
  font-family: $popins;
  color: $black;
}

h3 {
  font-size: $large;
  font-family: $popins;
  color: $black;
  font-weight: $bold;
}

h4 {
  font-size: $medium;
  font-family: $popins;
  color: $black;
  font-weight: $bold;
}

h5 {
  font-size: $small;
  font-family: $popins;
}

h6 {
  font-size: 10px;
}
